<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- seo -->
    <title><%- page.title %></title>
    <meta property="og:title" content="<%- page.title %>" />
    <meta name="description" content="<%- page.description %>" />
    <meta property="og:description" content="<%- page.description %>" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="https://webinclusives.com/" />
    <meta property="og:site_name" content="web inclusives" />
    <meta property="og:image" content="https://webinclusives.com/img/webinclusiveslogo.png" />
    <link rel="canonical" href="https://webinclusives.com/" />
    <link rel="alternate" hreflang="x-default" href=" https://webinclusives.com" />

    <!-- * scripts -->
    <script type="application/ld+json">
      {
        "url": "https://webinclusives.com/",
        "headline": "web inclusives",
        "image": "https://webinclusives.com/img/webinclusiveslogo.png",
        "@type": "WebSite",
        "name": "web inclusives",
        "@context": "https://schema.org"
      }
    </script>

    <% if(page.path=="index.html" || page.path=="" || page.path=="/"){ %>
    <!-- * Global site tag (gtag.js) - Google Analytics -->
    <% } %>

    <link defer href="<%- page.prepath %>css/tailwind.min.css" rel="stylesheet" />
    <link defer href="<%- page.prepath %>css/index.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/83fa0c17b8.js" crossorigin="anonymous"></script>

    <!-- * slider js and css  -->
    <link rel="stylesheet" href="<%- page.prepath %>css/swiper-bundle.min.css" />

  </head>

  <body class="overflow-x-hidden bg-p1">
    <% if(!(page.page == "Contact Us")) { %>
    <div onclick="openWA()" class="fixed z-20 right-2 bottom-2 p-5 rounded-full bg-green-500 h-14 w-14 flex justify-center items-center">
      <i class="fab fa-whatsapp text-black text-3xl"></i>
    </div>
    <% } %>
    <%- partial('partial/navbar') %>
    <% if(!page.hero) { %>
    <%- partial('partial/hero2') %>
    <% } else { %>
    <%- partial('partial/hero') %>
    <% } %>
    <%- body %>
    <%- partial('partial/footer') %>
    <!-- ! scripts -->
    <!-- * slidr js -->
    <script src="<%- page.prepath %>js/swiper-bundle.min.js"></script>
    <!-- * scroll out js -->
    <script src="<%- page.prepath %>js/scroll-out.min.js"></script>
    <!-- * smtp only in conatct html -->
    <% if(page.page == "Contact Us") { %>
    <script src="<%- page.prepath %>js/smtp.js"></script>
    <% } %>
    <!-- * own -->
    <script src="<%- page.prepath %>js/main.js"></script>
  </body>

</html>