<footer class="bg-p2 py-2 px-4 mt-5 md:px-16 md:py-2 space-y-10">
  <div class="container mx-auto w-full grid grid-cols-1 md:grid-cols-4 xl:grid-cols-5 gap-y-7">
    <div class="w-full h-full flex items-center">
      <img class="h-20 mx-auto md:mx-0" src="<%= page.prepath %>img/surbhi.png" alt="" />
    </div>
    <div class="w-full h-full flex">
      <div class="space-y-3">
        <p class="text-xl">Products</p>
        <div class="space-y-1">
          <% site.data.sitedata.products.forEach(element => { %>
          <a class="text-p4" href="<%= page.prepath+"/products/"+element[2] %>"><%= element[0] %></a>
          <br>
          <% }) %>
        </div>
      </div>
    </div>
    <div class="w-full h-full flex justify-start">
      <div class="space-y-3">
        <p class="text-xl">Quick Links</p>
        <div class="space-y-1">
          <a class="text-p4" href="<%- page.prepath %>gallery.html">Gallery</a>
          <br>
          <a class="text-p4" href="<%- page.prepath %>products.html">Products</a>
          <br>
          <a class="text-p4" href="<%- page.prepath %>contact.html">Contact Us</a>
          <br>
        </div>
      </div>
    </div>
    <div class="w-full h-full flex justify-start">
      <div class="space-y-3">
        <p class="text-xl">Contact</p>
        <address class="space-y-1">
          <a class="text-p4" href="tel:+912266541007">
            +91 22 6654 1007
          </a>
          <br>
          <a class="text-p4" href="tel:+919819211601">
            +91 9819211601
          </a>
          <br>
          <a class="text-p4" href="mailto:surbhimetalalloys@gmail.com">
            surbhimetalalloys@gmail.com
          </a>
          <br>
        </address>
      </div>
    </div>
    <div class="w-full h-full md:hidden xl:flex flex justify-center items-center">
      <div class="">
        <div class="flex-1 flex justify-end space-x-4 items-center">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-linkedin-in"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full h-full md:flex xl:hidden hidden justify-center xl:justify-end">
    <div class="">
      <div class="flex-1 flex justify-end space-x-4 items-center">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </div>
    </div>
  </div>
  <div class="container mx-auto w-full flex flex-col space-y-5 items-center md:space-y-0">
    <p class="nunito flex-1 text-black text-sm font-bold text-center md:text-left md:text-base">
      Copyright © Surbhi Metals And Alloys 2021.
      <br class="md:hidden" />
      All right reserved.

    </p>
    <p class=" nunito flex-1 text-black text-sm font-bold text-center md:text-left md:text-base">Crafted By Saryu marketing solutions.</p>
  </div>
</footer>