<footer class="bg-p2 to to-p1 py-2 px-4 mt-5 md:px-16 md:py-2 space-y-10">
  <div class="container mx-auto w-full grid grid-cols-1 md:grid-cols-4 gap-y-7">
    <div class="w-full h-full flex items-center">
      <img class="h-20 mx-auto md:mx-0" src="<%= page.prepath %>img/surbhi.png" alt="" />
    </div>
    <div class="w-full h-full flex">
      <div class="space-y-3">
        <p class="text-xl font-bold">Products</p>
        <div class="space-y-1">
          <% site.data.sitedata.products.forEach(element => { %>
          <p class="text-indigo-900">
            <a class="hover:text-blue-600" href="<%= page.prepath+"/products/"+element[2] %>"><%= element[0] %></a>
          </p>
          <% }) %>
        </div>
      </div>
    </div>
    <div class="w-full h-full flex justify-start">
      <div class="space-y-3">
        <p class="text-xl font-bold">Quick Links</p>
        <div class="space-y-1">
          <p class="m-1 text-indigo-900">
            <i class="fa fa-product-hunt mr-2" aria-hidden="true"></i>
            <a class="hover:text-blue-600" href="<%- page.prepath %>products.html">Products</a>
          </p>
          <p class="m-1 text-indigo-900">
            <i class="fas fa-images mr-2" aria-hidden="true"></i>
            <a class="hover:text-blue-600" href="<%- page.prepath %>gallery.html">Gallery</a>
          </p>
          <a href="<%- page.prepath %>/gallery.html">
            <div class="grid grid-cols-4 gap-x-3 m-1 w-4/5">
              <img class="h-12" src="<%- page.prepath %>/img/pipes.jpg" alt="">
              <img class="h-12" src="<%- page.prepath %>/img/bars.jpg" alt="">
              <img class="h-12" src="<%- page.prepath %>/img/flanges.jpg" alt="">
              <img class="h-12" src="<%- page.prepath %>/img/fasteners.jpg" alt="">
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="w-full h-full flex justify-start">
      <div class="space-y-3">
        <p class="text-xl font-bold">Contact</p>
        <address class="space-y-1">
          <p class="m-1 text-indigo-900">
            <i class="fas fa-map-marker-alt mr-2" aria-hidden="true"></i>
            <a href="https://g.page/ss-pipe-fitting-fastener-flange?share" class="hover:text-blue-600">
              Office No 7, 68, Todakari House, Bhandari street, 1th Kumbharwada, Mumbai - 400004
            </a>
          </p>
          <p class="m-1 text-indigo-900">
            <i class="fas fa-phone-alt mr-2" aria-hidden="true"></i>
            <a href="tel:+912266541007" class="hover:text-blue-600">+91 2266541007</a>
          </p>
          <p class="m-1 text-indigo-900">
            <i class="fas fa-mobile-alt mr-2" aria-hidden="true"></i>
            <a href="tel:+919819211601" class="hover:text-p6">+91 9819211601</a>
          </p>
          <p class="m-1 text-indigo-900">
            <i class="far fa-envelope-open mr-2" aria-hidden="true"></i><a href="mailto:surbhimetalalloys@gmail.com" class="hover:text-p6">surbhimetalalloys@gmail.com</a>
          </p>
        </address>
      </div>
    </div>
  </div>
  <div class="w-full h-full flex justify-center">
    <div class="">
      <div class="flex-1 flex justify-end space-x-6 items-center">
        <i class="text-xl fab fa-facebook-f"></i>
        <i class="text-xl fab fa-instagram"></i>
        <i class="text-xl fab fa-linkedin-in"></i>
      </div>
    </div>
  </div>
  <div class="container mx-auto w-full flex flex-col space-y-2 items-center">
    <p class="nunito flex-1 text-black text-base font-bold text-center">
      Copyright © Surbhi Metals And Alloys 2021.
      <br class="md:hidden" />
      All right reserved.
    </p>
    <p class="nunito flex-1 text-black text-sm font-bold text-center">
      Crafted By <a class="text-blue-500" href="">Saryu marketing solutions</a>.
    </p>
  </div>
</footer>