<div class="relative">
  <div class="swiper-container relative">
    <div class="swiper-wrapper hero-half">
      <div class="swiper-slide space-y-3 w-full h-full">
        <img class="object-cover w-full absolute object-center slideimg" src="<%= page.prepath %>img/hero/hero1.jpg" alt="" />
        <div class="absolute bg-p1 p-2 rounded top-20 left-3 md:left-5 bg-opacity-50">
          <p class="md:text-4xl sm:text-xl font-extrabold" data-swiper-parallax="-400">A varied range of industrial fittings</p>
        </div>
      </div>
      <div class="swiper-slide space-y-3 w-full h-full">
        <img class="object-cover w-full absolute flex-shrink-0 object-right md:object-center slideimg" src="<%= page.prepath %>img/hero/hero2.jpg" alt="" />
        <div class="absolute bg-p1 p-2 rounded top-20 left-3 md:left-5 bg-opacity-50">
          <p class="md:text-4xl sm:text-xl font-extrabold" data-swiper-parallax="-400">Expert in piping solutions</p>
        </div>
      </div>
      <div class="swiper-slide space-y-3 w-full h-full">
        <img class="object-cover w-full absolute flex-shrink-0 object-center slideimg" src="<%= page.prepath %>img/hero/hero3.jpg" alt="" />
        <div class="absolute bg-p1 p-2 rounded top-20 left-3 md:left-5 bg-opacity-50">
          <p class="md:text-4xl sm:text-xl font-extrabold" data-swiper-parallax="-400">Leading pipes and tubes supplier</p>
        </div>
      </div>
      <div class="swiper-slide space-y-3 w-full h-full">
        <img class="object-cover w-full absolute flex-shrink-0 object-center slideimg" src="<%= page.prepath %>img/hero/hero4.jpg" alt="" />
        <div class="absolute bg-p1 p-2 rounded top-20 left-3 md:left-5 bg-opacity-50">
          <p class="md:text-4xl sm:text-xl font-extrabold" data-swiper-parallax="-400">Quality as per International Standards</p>
        </div>
      </div>
      <div class="swiper-slide space-y-3 w-full h-full">
        <img class="object-cover w-full absolute flex-shrink-0 object-center slideimg" src="<%= page.prepath %>img/hero/hero5.jpg" alt="" />
        <div class="absolute bg-p1 p-2 rounded top-20 left-3 md:left-5 bg-opacity-50">
          <p class="md:text-4xl sm:text-xl font-extrabold" data-swiper-parallax="-400">Wide Industry Experience </p>
        </div>
      </div>
      <div class="swiper-slide space-y-3 w-full h-full">
        <img class="object-cover w-full absolute flex-shrink-0 object-center slideimg" src="<%= page.prepath %>img/hero/hero6.jpg" alt="" />
        <div class="absolute bg-p1 p-2 rounded top-20 left-3 md:left-5 bg-opacity-50">
          <p class="md:text-4xl sm:text-xl font-extrabold" data-swiper-parallax="-400">Lab Tested Reports & Certificates</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-4/5 rounded-md p-4 -mt-7 border shadow-md mx-auto bg-white z-10 relative">
    <p class="text-blue-500 space-x-2"><a href="<%= page.page %>index.html">Home</a> <span>></span> <span class="text-p4"><%= page.page %></span></p>
  </div>
</div>