<header id="navbar" class="fixed z-20 w-full bg-p4 bg-opacity-50 rounded-b lg:px-16 lg:py-2 py-2 px-4 transition-all duration-500 ease-in-out">
  <div class="container mx-auto flex items-center flex-row">
    <div>
      <a href="<%= page.prepath%>index.html" class="flex items-center">
        <img src="<%= page.prepath%>img/surbhi.png" alt="web-inclusives" class="lg:h-14 h-12" />
        <h1 class="lg:ml-3 ml-2 navtext text-white font-bold text-base sm:text-3xl overflow-hidden">
          Surbhi Metal And Alloys
        </h1>
      </a>
    </div>
    <nav class="ml-auto lg:space-x-10 hidden lg:block">
      <div class="navtext transform inline-block transition-all duration-300 hover:scale-125 hover:text-p2 text-white">
        <a href="<%= page.prepath%>index.html">Home</a>
        <hr class="w-0 mx-auto transition-all duration-500 text-red-500 bg-red-500" />
      </div>
      <div class="navtext transform inline-block transition-all duration-300 hover:scale-125 hover:text-p2 text-white">
        <a href="<%= page.prepath%>about-us.html">About Us</a>
        <hr class="w-0 mx-auto transition-all duration-500 text-red-500 bg-red-500" />
      </div>
      <div class="navtext transform inline-block transition-all duration-300 hover:scale-125 hover:text-p2 text-white">
        <a href="<%= page.prepath%>products.html">Products</a>
        <hr class="w-0 mx-auto transition-all duration-500 text-red-500 bg-red-500" />
      </div>
      <div class="navtext transform inline-block transition-all duration-300 hover:scale-125 hover:text-p2 text-white">
        <a href="<%= page.prepath%>gallery.html">Gallery</a>
        <hr class="w-0 mx-auto transition-all duration-500 text-red-500 bg-red-500" />
      </div>
      <div class="navtext hidden transform transition-all duration-300 hover:scale-125 hover:text-p2 text-white">
        <a href="<%= page.prepath%>blogs.html">Blog</a>
        <hr class="w-0 mx-auto transition-all duration-500 text-red-500 bg-red-500" />
      </div>
      <div class="navtext transform inline-block transition-all duration-300 hover:scale-125 hover:text-p2 text-white">
        <a href="<%= page.prepath%>contact.html">Contact Us</a>
        <hr class="w-0 mx-auto transition-all duration-500 text-red-500 bg-red-500" />
      </div>
    </nav>
    <div class="ml-auto lg:space-x-10 block lg:hidden">
      <div onclick="navbarclick(event)">
        <svg id="navsvg" class="transition duration-200 ease-in-out" value="true" id="box" viewBox="0 0 100 80" width="1.95rem" height="1.95rem" fill="white">
          <rect id="line1" rx="7" ry="7" y="0" x="0" width="100" height="10"></rect>
          <rect id="line2" rx="7" ry="7" y="30" x="20" width="80" height="10"></rect>
          <rect id="line3" rx="7" ry="7" y="60" x="40" width="60" height="10"></rect>
        </svg>
      </div>
      <nav class="absolute right-2 top-full space-y-3 pt-3">
        <a href="<%= page.prepath%>index.html" class="relative navmobile rounded-full shadow-lg bg-p4 p-2 flex justify-center items-center w-auto space-x-3 h-12">
          <p class="text-p2">Home</p>
          <i class="fas fa-home text-2xl text-p1"></i>
        </a>
        <a href="<%= page.prepath%>about-us.html" class="relative navmobile rounded-full shadow-lg bg-p4 p-2 flex justify-center items-center w-auto space-x-3 h-12">
          <p class="text-p2 mt-0.5">About Us</p>
          <i class="fas relative fa-info text-2xl text-p1"></i>
        </a>
        <a href="<%= page.prepath%>products.html" class="relative navmobile rounded-full shadow-lg bg-p4 p-2 flex justify-center items-center w-auto space-x-3 h-12">
          <p class="text-p2">Products</p>
          <i class="fas relative fa-cubes text-2xl text-p1"></i>
        </a>
        <a href="<%= page.prepath%>gallery.html" class="relative navmobile rounded-full shadow-lg bg-p4 p-2 flex justify-center items-center w-auto space-x-3 h-12">
          <p class="text-p2 mt-0.5">gallery</p>
          <i class="far fa-images relative text-2xl text-p1"></i>
        </a>
        <a href="<%= page.prepath%>contact.html" class="relative navmobile rounded-full shadow-lg bg-p4 p-2 flex justify-center items-center w-auto space-x-3 h-12">
          <p class="text-p2">Contact Us</p>
          <i class="far fa-user-circle text-2xl text-p1"></i>
        </a>
      </nav>
    </div>
  </div>
</header>